.notification
  = "You are logged in as #{current_user.name}. "
  = link_to "Log out", :logout

.top
  %h1
    Round
    = "#{@game.questions.count} of #{@game.round_count}";

.question
  %h1
    - if @question.question_type_status?
      = "Who said this?"
    - elsif @question.question_type_birthdate?
      = "In which month is this person born?"

.status
  = @question.text

%br

%ul{:id => 'choices'}
  - for choice in @question.choices
    = render :partial => 'questions/choice', :locals => {:question => @question, :choice => choice}
