.notification
  = "You are logged in as #{current_user.name}. "
  = link_to "Log out", :logout

.top
  %h1
    = "Round #{@game.questions.count}"
  .life_count
    - @game.wrong_answers.times do 
      %img{:src=>'/images/empty_heart.png'}
    - (@game.max_wrong_answers - @game.wrong_answers).times do 
      %img{:src=>'/images/heart.png'}


.question
  %h1
    = @question.text
.clue{:style => "font-size: #{26 - (@question.matter.length/20)}pt"}
  = @question.matter

%br

%ul{:id => 'choices'}
  - for choice in @question.choices
    = render :partial => 'choices/show', :locals => {:question => @question, :choice => choice}
