%tr
  %td
    = user_week_score.rank
  %td
    = image_tag(user_week_score.profile_picture, :width => 50, :height => 50)
  %td 
    = user_week_score.name
  %td
    = user_week_score.this_weeks_best_score
  %td
    = user_week_score.this_weeks_total_score
