%tr
  %td 
    = user_alltime_score.rank
  %td
    = image_tag(user_alltime_score.profile_picture, :width => 50, :height => 50)
  %td 
    = user_alltime_score.name
  %td
    = user_alltime_score.best_score
  %td
    = user_alltime_score.total_score
