.notification
  = "You are logged in as #{current_user.name}. "
  = link_to "Log out", "/sessions/destroy"

%h1
  New Game

.status
  = @status_message

%br
  
.question
  %strong
    Who said this?

.alternatives
  = @friends.join(", ")