.notification
  = "You are logged in as #{current_user.name}. "
  = link_to "Log out", :logout
  
.question
  %h1
    Who said this?

.status
  = @status_message

%br

%ul{:id => 'alternatives'}
  %li
    %img{'src' => @friends.at(0)['pic_small']}
    %br
    = @friends.at(0)['name']
  %li
    %img{'src' => @friends.at(1)['pic_small']}
    %br
    = @friends.at(1)['name']
  %li
    %img{'src' => @friends.at(2)['pic_small']}
    %br
    = @friends.at(2)['name']
