%h1
  
  - points = @game.points
  - if points >= 18
    = "You must share a collective brain with your friends!"
  - elsif points >= 16
    = "Do you spy on your friends regularly?"
  - elsif points >= 14
    = "You know it's a bit creepy how much you know about your friends."
  - elsif points >= 12
    = "Wow. You're like a fact book on your friends!"
  - elsif points >= 10
    = "You really know your friends!"
  - elsif points >= 8
    = "Excellent game!"
  - elsif points >= 6
    = "Good game!"
  - elsif points >= 4
    = "Nice game."
  - elsif points >= 2
    = "Nice try, but you don't know your friends all that well do you?"
  - else 
    = "Are you sure these people are your friends?"

.game_info
  = "You scored "
  %span{:id=>"score"}
    = points
  = " points"

%br
= link_to 'Try again', games_path, :class => 'create_game', :method => :post
= link_to 'Share score', '#share', :class => 'share_score'
%br
%br

.highscore
  %ul
    %li 
      %a{:href => '#week_tab'} 
        = "This week's high scores"
    %li
      %a{:href => '#alltime_tab'}
        = "All-time high scores"

  %table.score_table{:id => 'week_tab'}
    %thead
      %tr
        %th 
          = "#"
        %th 
          = "Name"
        %th 
          = "Best"
        %th 
          = "Total"
    %tbody
      = render :partial => 'users/user_week_score', :collection => @week_best_users

  %table.score_table{:id => 'alltime_tab'}
    %thead
      %tr
        %th 
          = "#"
        %th 
          = "Name"
        %th 
          = "Best"
        %th 
          = "Total"
    %tbody
      = render :partial => 'users/user_alltime_score', :collection => @users

%script
  = "$(function() { $('.highscore ul').idTabs(); });"
