%h1
  - if @game.points >= 10
    = "Perfect game!"
  - elsif @game.points >= 8
    = "Excellent game!"
  - elsif @game.points >= 6
    = "Good game!"
  - elsif @game.points >= 4
    = "Nice game."
  - elsif @game.points >= 2
    = "Nice try, but you don't know your friends all that well do you?"
  - else 
    = "Are you sure these people are your friends?"

.gameInfo
  = "You scored #{@game.points} points"

.highscore
  %table.score_table
    %th 
      = "#"
    %th 
      = "Name"
    %th 
      = "Best Score"
    %th 
      = "All-time Score"
    - cnt = 0
    - for user in @users
      - cnt = cnt + 1 
      = render :partial => 'users/show_score', :locals => {:cnt => cnt, :user => user}

%br
= link_to 'Try again', games_path, :class => 'create_game', :method => :post
