%h1
  
  - if @game.points >= 18
    = "You must share a collective brain with your friends!"
  - elsif @game.points >= 16
    = "Do you spy on your friends regularly?"
  - elsif @game.points >= 14
    = "You know it's a bit creepy how much you know about your friends."
  - elsif @game.points >= 12
    = "Wow. You're like a fact book on your friends!"
  - elsif @game.points >= 10
    = "You really know your friends!"
  - elsif @game.points >= 8
    = "Excellent game!"
  - elsif @game.points >= 6
    = "Good game!"
  - elsif @game.points >= 4
    = "Nice game."
  - elsif @game.points >= 2
    = "Nice try, but you don't know your friends all that well do you?"
  - else 
    = "Are you sure these people are your friends?"

.game_info
  = "You scored "
  %span{:id=>"score"}
    = @game.points
  = " points"

.highscore
  %table.score_table
    %thead
      %tr
        %th 
          = "#"
        %th 
          = "Name"
        %th 
          = "Best Score"
        %th 
          = "All-time Score"
    %tbody
      - cnt = 0
      - for user in @users
        - cnt = cnt + 1 
        = render :partial => 'users/show_score', :locals => {:cnt => cnt, :user => user}

%br
= link_to 'Try again', games_path, :class => 'create_game', :method => :post
= link_to 'Share score', '#share', :class => 'share_score'
