.gameInfo
  = "Game at round #{@game.questions.count} of #{@game.round_count}"
  %br
  = "You have #{@game.points} points"
  %br
  - if @game.questions.count < @game.round_count
    = link_to 'Gimme a new question!', url_for(@game)+"/questions", :method => :post
  - else
    = "Good Game."
    = link_to 'Try again', url_for(:action => :create), :method => :post
